p{
    color: red;
    
}
table{
    background-color: white;
    color: yellow; 
    border: solid 3px black;
    width: 50%;
    margin: 10px auto;
}
td{
    background-color: chocolate;
    border: solid 2px red;
}
.paros{
    background-color: rebeccapurple;
}
.paratlan{
    background-color: cornflowerblue ;
}
div{
    border: solid 2px black;
}